@use "src/styles/vars" as vars;

:local {
  .badge {
    border: 1px solid vars.$sectionBadgeBorderColor;
    width: fit-content;

    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 2rem;

    text-transform: uppercase;

    font-family: var(--font-exo);
    font-size: vars.$sectionBadgeFontSize;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
