@use "src/styles/vars" as vars;

:local {
  .controlsContainer {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    top: 40rem;
  }

  .controlsWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: vars.$playerControlsWrapperBg;
    border-radius: 10px;
    border: 1px solid vars.$borderColor;

    min-height: 100px;
    width: 80%;

    .playPauseButton {
      width: 3rem;
      height: 3rem;
      padding: 0.8rem 1rem;
      background-color: vars.$progressEmptyBg;

      margin: 0 2rem 0 3rem;
    }

    .progressBarWrapper {
      cursor: pointer;
      background-color: vars.$progressEmptyBg;
      width: 90%;
      border-radius: 12px;

      .progressBar {
        transition: width 0.3s ease-in-out;
        position: relative;
        width: 100%;
        height: 10px;
        background-color: vars.$progressBarBg;
        border-radius: 12px;
      }
    }
  }

  .timer {
    font-family: var(--font-exo);
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    color: vars.$fontWhite;

    margin: 0 3rem 0 2rem;
  }
}
