$borderColor: #827d7d;
$backgroundWhite: #ffffff;
$headerFontColor: #111010;
$buttonBgColor: #d9d9d9;
$buttonActiveBgColor: #e5e5df;
$buttonFontColor: #1c1b1b;
$advertBarBgColor: #d9d9d9;
$sectionBadgeBorderColor: #443b3b;
$heroBtnBackgroundColor: $sectionBadgeBorderColor;
$fontWhite: #ffffff;
$sectionLinkFontColor: #41423e;

$footerBgColor: $advertBarBgColor;
$footerFontColor: #5f5959;
$sectionMainFontColor: $buttonFontColor;

$letterSpacing: 1px;

$progressBarBg: #cae771;
$progressEmptyBg: rgba(37, 37, 37, 0.5);
$playerControlsWrapperBg: rgba(37, 37, 37, 0.2);
$gradientBg: linear-gradient(90deg, #caea71 0%, #844071 50.5%, #404f84 100%);

$headerFontSize: 14px;
$sectionFontSize: $headerFontSize;
$sectionBadgeFontSize: 12px;
$sectionBadgeLetterSpacing: 3px;
