@use "src/styles/vars" as vars;

$footerHeight: 110px;

:local {
  .footerWrapper {
    position: relative;
    bottom: 0;
    background-color: vars.$footerBgColor;
    width: 100%;

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      min-height: $footerHeight;
    }
  }
}
